@use 'vars.scss' as *;

@font-face {
    font-family: "AAHA";
    src: url(./fonts/AAHA-Regular.woff2) format(woff2);
}

html, body {
    font-family: "freight-text-pro", serif;
    font-size:18px;
    line-height:1.2;
}
a, 
a:link,
a:visited {
    color:$accent;
    text-decoration:none;
}

a:active,
a:hover {
    color:$fColor;
    
}


header {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
    font-family: AAHA;
  font-size: 2.2rem;
  position: relative;
  
  white-space: nowrap;
  color:$accent;
  
    text-align:right;
    transform-origin: 0 0 ;
    padding:1rem;
    z-index:100;
    line-height:1
}


h2 {
    font-size: 2rem;
  margin-top: .6em;

  &.site-subtitle {
    line-height:1;

    & .date-title {
      color: #c48726;
  font-size: .9rem;
  font-weight: 700;
  // height: 1em;
  line-height: 1.2;
  overflow: visible;
    }
    
  }
}



// h2 {
//     font-family: "AAHA", serif;
//     font-size:2em;
//     text-transform:uppercase;
//     text-align:right;
//     color:$accent;
//    }

h3 {
    font-family: "AAHA", serif;
 font-size:1.5em;
//  text-transform:uppercase;
//  text-align:right;
 color:$accent;
}

strong {
    font-weight:bold;
}

em {
  font-style:italic;
}

label {
    color: $accent;
  font-size: .75em;
  font-weight: 700;
  letter-spacing: .04em;
  text-transform: uppercase;
}

footer h2 {
    font-size: 1.5rem;
    text-align: center;
    padding:2em;
}

.tag {
  display: inline-block;
  padding:0.2em 0.6em 0.4em;
  background:$accent;
  margin:0.2em 0.4em 0.2em 0;
  border-radius: 0.5em;
  color:$bgColor;

  &:hover,
  &:active {
    background:$fColor;
  }
}