$dark: #000000;
$light:#FFFFFF;

body {
    background:$dark;
    color: $light;
}


.filter-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    padding:1em;
}

main {
    padding:1em;
}